<!DOCTYPE html>
<html>
  <head>
    <title>Kalmiya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= logged_in? ? link_to("Log out", logout_sessions_path, data: { "turbo-method": "delete" }) : link_to("Log in", new_session_path) %>
    <%= yield %>
  </body>
</html>
